<section id="about-me">
  <div class="container">
    <p class="about-head text-capitalize">Who am i ?</p>
    <h1 class="text-capitalize about-title">Hi, i'm Mom Sonita</h1>
    <p class="about-desc">
      Currently, I am a third year student in majoring Computer Science at
      Angkor University. And I also work as English Teacher as a part-time job
      as well. I am really interested for both fields English and Computer
      Science. I am person who likes to figure out new things and be able to
      face with the problem and I'm also a fast learner. Moreover, I also
      addicted to English field as well, so I chose to work as a part-time
      English Teacher.
    </p>
    <div class="container-fluid about-info">
      <h4>Education</h4>
      <div class="timeline">
        <div class="timeline-item">
          <h5 class="timeline-date">2024 - Present</h5>
          <div class="timeline-content">
            <ul>
              <li>
                Third year student in Computer Science at Angkor University
              </li>
              <li>Finished English Diploma program at Angkor University</li>
              <li>
                Finished Entrepreneur and Digital Marketing short course from
                Sister Of Code.
              </li>
              <li>Completed Digital and AI program at AU</li>
              <li>
                Currently, a student in UX/UI program class of Sister Of Code
              </li>
            </ul>
          </div>
        </div>

        <div class="timeline-item">
          <h5 class="timeline-date">2023 - 2024</h5>
          <div class="timeline-content">
            <ul>
              <li>Graduated high school in 2024</li>
              <li>Studied English at USA International School</li>
              <li>
                Studied Basic Computer at CNYC (Cambodia National Youth Center)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid about-info about-skill">

  <h4>Technology Skills</h4>

  <div class="box" id="skillsLoop">

    <div class="skill-row dir-left">
      <div class="marquee-track" id="trackTop"></div>
    </div>

    <div class="skill-row dir-right">
      <div class="marquee-track" id="trackBottom"></div>
    </div>

  </div>

</div>
  </div>
</section>
