<section id="contact">
  <div class="container">
    <p class="contact-head text-capitalize">Get to know me !</p>
    <div class="row g-5 ">
      <!-- <div class="contact-info"> -->
        <div class="col-12 col-md-6">
          <div class="contact-header">
             <h4 class="contact-title text-capitalize">Get in touch with me</h4>
          <p class="contact-Desc">
            I'd love to hear from you! Feel free to reach out for questions,
            projects, collaborations, or opportunities.
          </p>
          </div>
          <div class="contact-icons-desktop">
            <div
            class="contact-icons d-flex justify-content-center align-items-center"
          >
            <a href="https://www.facebook.com/so.ta.789977" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://github.com/SonitaMom" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/sonita-mom-580243421/"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a
              href="https://t.me/SO_TA3"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-telegram"></i>
            </a>
          </div>
          </div>
          
        </div>
        <div class="col-12 col-md-6">
          <div class="contact-email ">
            <form id="contact-form">
              <label for="name" class="text-capitalize">Your name </label><br />
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Mom Sonita"
                class="input-text"
                required
              />
              <br />
              <label for="email" class="text-capitalize"
                >Your email address</label
              ><br />
              <input
                type="email"
                name="email"
                id="email"
                class="input-text"
                placeholder="Enter your email"
                required
              />
              <br />
              <label for="information"> Message </label>
              <br />
              <textarea
                type="text"
                name="information"
                id="information"
                placeholder="Your Message"
                class="input-text input-email"
                
            ></textarea>
              <div class="d-flex justify-content-end align-items-center submit-button">
                 <button type="submit" class="submit-btn">Send</button>
              </div>
           
            </form>
          </div>
        </div>
        <div class="col-12 contact-icons-mobile">
           <div
            class="contact-icons d-flex justify-content-center align-items-center"
          >
            <a href="https://www.facebook.com/so.ta.789977" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://github.com/SonitaMom" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/sonita-mom-580243421/"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a
              href="https://t.me/SO_TA3"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-telegram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
