<section id="hero">
  <div class="container-fluid hero-container">
    <div class="row gap-2 d-flex main-hero">
      <div class="col-12 col-md-8 hero-info">
        <h1 class="text-capitalize my-5 hero-title">
          Computer science student
        </h1>
        <p class="hero-desc">
          I'm a Computer Science student who enjoys exploring new things,
          especially in the field of technology. I'm currently working toward
          becoming a Software Developer and continuously building my skills
          through personal and school projects. I have completed several
          projects during my studies, and I'm currently looking for a job or
          internship opportunity where I can gain more experience and further
          strengthen my skills.
        </p>
        <div class="hero-btn">
          <a href="#about" class="text-capitalize">Who am i ?</a>
          <a href="#contact" class="text-capitalize">Contact me </a>
        </div>
      </div>
      <div class="col-12 col-md-4 personal-card my-3">
        <img
          src="./src/assets/MomSonita.webp"
          alt="Mom Sonita Image"
          class="personal-img image-fluid"
        />
        <p class="personal-name">Mom Sonita</p>
      </div>
    </div>
  </div>
</section>
